---
layout: default
title: Club Resources
permalink: /club-resources/
---
<div class="col-lg-7 offset-md-3">
    <div class="card">
        <h1 class="card-title">Club Resources</h1>
        <p>We have provided some sites for our memebers to use in their InfoSec Journey. The file server require SFTP to upload files and download. Only a web browser is required to download files.</p>
        <p>We plan to add more services in the future. If you have any question or want to report an issue, please DM Scott Lagler(SmoothHacker) on either Slack or Discord.</p>
        <div class="row">
          <div class="col-md-4" style="margin-left: 15px;">
            <ul>
                <li><a href="http://juiceshop.ufsit.club:3000">UFSIT's Juiceshop Instance</a></li>
                <li><a href="https://public.ufsit.club">Public File Server</a></li>
                <li>Ghidra Server for CTFs - Ghidra.ufsit.club</li>
            </ul>
          </div>
        </div>
    </div>
</div>
