---
layout: default
---


<<div class="col-lg-7 offset-md-3">
    <div class="card">
        <h1 class="card-title">Notable Accolades</h1>
	<li><a href="https://twitter.com/redpwnCTF/status/1276378112784076801">[NEW] 1st Place at RedpwnCTF 2020</a></li>
        <li><a href="https://news.ufl.edu/archive/2006/08/uf-security-professionals-win-worlds-largest-hacking-competition.html">1st Place at Defcon's 14th CTF in 2006 (under team 1@stplace)</a></li>
        <li><a href="https://www.cise.ufl.edu/uf-sit-takes-first-in-pwny-race-at-nyus-csaw-competition/">1st place at PWNY Race at NYU's 2019 CSAW</a></li>
        <li><a href="https://www.cise.ufl.edu/uf-sit-team-places-first-in-cyberforce-competition/">1st place at Oak Ridge National Lab (ORNL) during the 2019 CyberForce Competition</a></li>
        <li><a href="https://www.rit.edu/news/best-colleges-face-international-offensive-cybersecurity-competition-finals-rit">2nd Place SE Regionals at 2019 CPTC hosted by RIT</a></li>
        <li><a href="https://www.cise.ufl.edu/uf-cyber-defense-team-wins-second-place-in-region-competition/">2nd place in SECCDC 2018</a></li>
        <li><a href="https://twitter.com/uf_fics/status/973182011262291968">2nd Place at UF CTF hosted by UF FICS</a></li>
        <li><a href="https://www.cise.ufl.edu/students-place-third-in-cyber-defense-competition/">3rd place in SECCDC 2017</a></li>
    </div>

