---
layout: default
---

<script>
        $(document).ready(function(){
            $('#typewriteText').typewrite({
                actions: [
                    {type: 'Welcome :)'}
                ]
            });
        });
    </script>


<div class="col-lg-8 offset-md-2">
  <div class="jumbotron" style="text-align: center;">
    <h1 class="display-4">{{site.author}}</h1>
    <h3> UF Student InfoSec Team</h3>
    <h4>Thursdays 5:30pm-6:30pm in CSE 231</h4>
    <p class="lead" id="typewriteText"></p>
    <a href="/aboutus"><img src="/assets/img/ufsitlogo.png"></a>
  </div>
</div>
